set show-all-if-ambiguous on
set echo-control-characters off
set completion-ignore-case on
set completion-map-case on
#set editing-mode vi
"\e[A":history-search-backward
"\e[B":history-search-forward
